@tailwind base;
@tailwind components;
@tailwind utilities;
/* Stylování vlastního posuvníku pro textové boxy */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5); /* Tmavé pozadí odpovídající bg-slate-900 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(51, 65, 85, 0.8); /* Světlejší šedá (slate-700) */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 85, 105, 1); /* Ještě světlejší při najetí myší */
}
